<!DOCTYPE html>
<html>
<head>
    <title>Order Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="success-bg">

<div class="message-box">
    <h1>Thank You for Ordering the Food!</h1>

    <p>Your food order has been placed successfully.</p>
    <p>The donor and NGO details will be connected soon.</p>

    <a href="/available_food" class="btn">Order More Food</a>
    <a href="/impact" class="btn white">View Impact</a>
</div>

</body>
</html>